@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background-image:url("images/background.png");
background-size:cover;
background-position:center;
background-attachment:fixed;
background-repeat:no-repeat;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#000000;
color:#be23d9b4;
}

.logo img {
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
}

.nav-links{
display:flex;
list-style:none;
gap:25px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:bold;
}

.hamburger {
display:none;
font-size:30px;
cursor:pointer;
}

.hero {
height:70vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:50px 20px;
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:700px;
margin:auto;
margin-bottom:30px;
}

button{
padding:15px 35px;
font-size:18px;
border:none;
cursor:pointer;
border-radius:8px;
background:#ff4d94;
color:white;
transition:.3s;
}

button:hover{
transform:scale(1.05);
background:#e60073;
}

.about,
.skills,
.cta{
padding:40px 10%;
text-align:center;
}

.about p{
margin-top:30px;
line-height:1.8;
}

.benefits{
padding:35px 10%;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:15px;
}

.card{
background:#ffd6e8;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.skills ul{
list-style:none;
margin-top:30px;
}

.skills li{
margin:15px;
font-size:20px;
}

footer{
padding:40px;
text-align:center;
background:#000000;
color:white;
}

@media(max-width:768px){

.nav-links{
display:none;
flex-direction:column;
position:absolute;
top:70px;
right:0;
width:220px;
padding:20px;
background:#3e3030;
}

.nav-links.show{
display:flex;
}

.hamburger{
display:block;
}

.hero h1{
font-size:38px;
}

.hero p{
font-size:18px;
}

}